/* ========== Sección index ========= */
.correcion-card-index {
  margin-right: 18px;
}





/* ========== No copiar ========= */
.imagen-carousel-pedrito {
  aspect-ratio: 16/9;
  object-fit: cover;
}